export(annotationCommandList)
export(cpgiCommand)
export(densCpGCommand)
export(execute)
export(filterCommandList)
export(gapCommand)
export(genomicRegionCommand)
export(getGeneEntrezIds)
export(getProbeGeneRelationship)
export(getSymbolsFromEntrezIds)
export(kOverAFilterCommand)
export(kOverAFilterCommandFromFraction)
export(nearestGeneCommand)
export(varFilterCommand)
exportClasses(AnnotationCommandList)
exportClasses(CPGICommand)
exportClasses(DensCpGCommand)
exportClasses(FilterCommandList)
exportClasses(GapCommand)
exportClasses(GenomicRegionCommand)
exportClasses(KOverAFilterCommand)
exportClasses(NearestGeneCommand)
import(methods)
importFrom(AnnotationDbi,mget)
importFrom(BSgenome.Hsapiens.UCSC.hg19,BSgenome.Hsapiens.UCSC.hg19)
importFrom(Biostrings,getSeq)
importFrom(Biostrings,vcountPattern)
importFrom(FDb.InfiniumMethylation.hg19,get450k)
importFrom(GenomicFeatures,fiveUTRsByTranscript)
importFrom(GenomicRanges,reduce)
importFrom(IRanges,unlist)
importFrom(IlluminaHumanMethylation450k.db,IlluminaHumanMethylation450kENTREZID)
importFrom(TxDb.Hsapiens.UCSC.hg19.knownGene,TxDb.Hsapiens.UCSC.hg19.knownGene)
importFrom(functional,Curry)
importFrom(matrixStats,colVars)
importFrom(matrixStats,rowVars)
importFrom(org.Hs.eg.db,org.Hs.egSYMBOL)
importFrom(rtracklayer,browserSession)
importFrom(rtracklayer,getTable)
importFrom(rtracklayer,ucscTableQuery)
