export(annotationCommandList)
export(cpgiCommand)
export(densCpGCommand)
export(gapCommand)
export(genomicRegionCommand)
export(nearestGeneCommand)
exportClasses(AnnotationCommandList)
exportClasses(CPGICommand)
exportClasses(DensCpGCommand)
exportClasses(GapCommand)
exportClasses(GenomicRegionCommand)
exportClasses(NearestGeneCommand)
exportMethods(execute)
importFrom(AnnotationDbi,mget)
importFrom(BSgenome.Hsapiens.UCSC.hg19,BSgenome.Hsapiens.UCSC.hg19)
importFrom(Biostrings,getSeq)
importFrom(Biostrings,vcountPattern)
importFrom(GenomicFeatures,fiveUTRsByTranscript)
importFrom(GenomicRanges,reduce)
importFrom(IRanges,unlist)
importFrom(TxDb.Hsapiens.UCSC.hg19.knownGene,TxDb.Hsapiens.UCSC.hg19.knownGene)
importFrom(functional,Curry)
importFrom(org.Hs.eg.db,org.Hs.egSYMBOL)
importFrom(rtracklayer,browserSession)
importFrom(rtracklayer,getTable)
importFrom(rtracklayer,ucscTableQuery)
